workflow.json
{
  "name": "Shift Management Workflow",
  "nodes": [
    {
      "parameters": {
        "authentication": "token",
        "token": "={{$env.TELEGRAM_BOT_TOKEN}}",
        "updates": "={{$json}}"
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Check if message is voice or text\nconst message = $input.item.json.message;\nconst isVoice = message.voice !== undefined;\nconst isText = message.text !== undefined;\n\nreturn {\n  json: {\n    messageType: isVoice ? 'voice' : 'text',\n    content: isVoice ? message.voice : message.text,\n    userId: message.from.id,\n    chatId: message.chat.id\n  }\n};"
      },
      "name": "Process Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "read",
        "fileId": "={{$env.GOOGLE_DRIVE_SCHEDULE_FILE_ID}}"
      },
      "name": "Get Current Schedule",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "apiKey": "={{$env.OPENAI_API_KEY}}",
        "model": "gpt-4",
        "prompt": "={{$json}}",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "name": "AI Agent",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "fileId": "={{$env.GOOGLE_DRIVE_SCHEDULE_FILE_ID}}",
        "content": "={{$json}}"
      },
      "name": "Update Schedule",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "token",
        "token": "={{$env.TELEGRAM_BOT_TOKEN}}",
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.response}}"
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Get Current Schedule",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Schedule": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Schedule": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
} 